In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_frame_train=pd.read_csv("Train.csv")

In [3]:
data_frame_train.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
0,EID_23371,F,42.0,4,Married,Franklin,IT,Conceptual,4.0,4,...,type2,3.0,4,0.7516,1.8688,2.0,4,5,3,0.1841
1,EID_18000,M,24.0,3,Single,Springfield,Logistics,Analytical,5.0,4,...,type2,4.0,3,-0.9612,-0.4537,2.0,3,5,3,0.0670
2,EID_3891,F,58.0,3,Married,Clinton,Quality,Conceptual,27.0,3,...,type2,1.0,4,-0.9612,-0.4537,3.0,3,8,3,0.0851
3,EID_17492,F,26.0,3,Single,Lebanon,Human Resource Management,Behavioral,4.0,3,...,type2,1.0,3,-1.8176,-0.4537,NaN,3,7,3,0.0668
4,EID_22534,F,31.0,1,Married,Springfield,Logistics,Conceptual,5.0,4,...,type3,3.0,1,0.7516,-0.4537,2.0,2,8,2,0.1827

In [4]:
data_frame_train.shape

(7000, 24)

In [5]:
data_frame_train.describe()

,Age,Education_Level,Time_of_service,Time_since_promotion,growth_rate,Travel_Rate,Post_Level,Pay_Scale,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7,Attrition_rate
count,6588.000000,7000.000000,6856.000000,7000.000000,7000.000000,7000.000000,7000.000000,6991.000000,6989.000000,7000.000000,6423.000000,7000.000000,6344.000000,7000.000000,7000.000000,7000.000000,7000.000000
mean,39.622799,3.187857,13.385064,2.367143,47.064286,0.817857,2.798000,6.006294,2.387895,3.098571,-0.008126,-0.013606,1.891078,2.834143,7.101286,3.257000,0.189376
std,13.606920,1.065102,10.364188,1.149395,15.761406,0.648205,1.163721,2.058435,1.122786,0.836377,0.989850,0.986933,0.529403,0.938945,1.164262,0.925319,0.185753
min,19.000000,1.000000,0.000000,0.000000,20.000000,0.000000,1.000000,1.000000,1.000000,1.000000,-1.817600,-2.776200,1.000000,1.000000,5.000000,1.000000,0.000000
25%,27.000000,3.000000,5.000000,1.000000,33.000000,0.000000,2.000000,5.000000,1.000000,3.000000,-0.961200,-0.453700,2.000000,2.000000,6.000000,3.000000,0.070400
50%,37.000000,3.000000,10.000000,2.000000,47.000000,1.000000,3.000000,6.000000,2.000000,3.000000,-0.104800,-0.453700,2.000000,3.000000,7.000000,3.000000,0.142650
75%,52.000000,4.000000,21.000000,3.000000,61.000000,1.000000,3.000000,8.000000,3.000000,3.000000,0.751600,0.707500,2.000000,3.000000,8.000000,4.000000,0.235000
max,65.000000,5.000000,43.000000,4.000000,74.000000,2.000000,5.000000,10.000000,5.000000,5.000000,1.608100,1.868800,3.000000,5.000000,9.000000,5.000000,0.995900

In [6]:
data_frame_train.columns

Index(['Employee_ID', 'Gender', 'Age', 'Education_Level',
       'Relationship_Status', 'Hometown', 'Unit', 'Decision_skill_possess',
       'Time_of_service', 'Time_since_promotion', 'growth_rate', 'Travel_Rate',
       'Post_Level', 'Pay_Scale', 'Compensation_and_Benefits',
       'Work_Life_balance', 'VAR1', 'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6',
       'VAR7', 'Attrition_rate'],
      dtype='object')

In [7]:
data_frame_train.isnull().sum()

Employee_ID                    0
Gender                         0
Age                          412
Education_Level                0
Relationship_Status            0
Hometown                       0
Unit                           0
Decision_skill_possess         0
Time_of_service              144
Time_since_promotion           0
growth_rate                    0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      9
Compensation_and_Benefits      0
Work_Life_balance             11
VAR1                           0
VAR2                         577
VAR3                           0
VAR4                         656
VAR5                           0
VAR6                           0
VAR7                           0
Attrition_rate                 0
dtype: int64

In [8]:
data_frame_train["Age"].value_counts()

22.0    235
25.0    235
27.0    231
31.0    218
54.0    212
60.0    211
26.0    210
37.0    208
35.0    205
52.0    199
28.0    194
47.0    193
42.0    193
30.0    191
32.0    189
24.0    185
45.0    184
21.0    171
65.0    152
19.0    151
23.0    148
59.0    136
20.0    122
58.0    122
29.0    115
36.0    106
33.0    104
51.0    103
50.0    101
34.0     99
46.0     98
49.0     97
64.0     95
55.0     94
56.0     94
43.0     93
41.0     92
57.0     92
38.0     89
53.0     88
44.0     85
39.0     83
40.0     81
48.0     79
63.0     73
62.0     69
61.0     63
Name: Age, dtype: int64

In [9]:
data_frame_train["Age"].isnull().sum()

data_frame_train["Age"].mean()

39.62279902853673

In [10]:
data_frame_train["Age"].fillna(39,inplace=True)

data_frame_train["Unit"].value_counts()

IT                           1394
Logistics                    1173
Sales                         943
Operarions                    706
R&D                           680
Purchasing                    504
Accounting and Finance        496
Human Resource Management     344
Marketing                     212
Production                    211
Quality                       193
Security                      144
Name: Unit, dtype: int64

In [11]:
x=list(dict(data_frame_train["Unit"].value_counts()).keys())

In [12]:
x={x[i]:i for i in range(0,len(x))}

In [13]:
data_frame_train["Unit"]=data_frame_train["Unit"].replace(x)

In [14]:
data_frame_train["Unit"].value_counts()

0     1394
1     1173
2      943
3      706
4      680
5      504
6      496
7      344
8      212
9      211
10     193
11     144
Name: Unit, dtype: int64

In [15]:
data_frame_train["Education_Level"].value_counts()

3    2878
4    2076
1     695
2     691
5     660
Name: Education_Level, dtype: int64

In [16]:
data_frame_train.dtypes

Employee_ID                   object
Gender                        object
Age                          float64
Education_Level                int64
Relationship_Status           object
Hometown                      object
Unit                           int64
Decision_skill_possess        object
Time_of_service              float64
Time_since_promotion           int64
growth_rate                    int64
Travel_Rate                    int64
Post_Level                     int64
Pay_Scale                    float64
Compensation_and_Benefits     object
Work_Life_balance            float64
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
Attrition_rate               float64
dtype: object

In [17]:
data_frame_train=data_frame_train.astype({'Unit':'object','Education_Level':'object'})

In [18]:
data_frame_train["Gender"].value_counts()

F    4114
M    2886
Name: Gender, dtype: int64

In [19]:
data_frame_train["Gender"]=data_frame_train["Gender"].replace({'M':0,'F':1})

In [20]:
data_frame_train["Gender"].value_counts()

1    4114
0    2886
Name: Gender, dtype: int64

In [21]:
data_frame_train["Decision_skill_possess"].value_counts()

Conceptual    1756
Analytical    1755
Directive     1753
Behavioral    1736
Name: Decision_skill_possess, dtype: int64

In [22]:
x=list(dict(data_frame_train["Decision_skill_possess"].value_counts()).keys())

In [23]:
data_frame_train["Decision_skill_possess"]=data_frame_train["Decision_skill_possess"].replace({x[i]:i for i in range(0,len(x))})

In [24]:
data_frame_train["Decision_skill_possess"].value_counts()

0    1756
1    1755
2    1753
3    1736
Name: Decision_skill_possess, dtype: int64

In [25]:
data_frame_train=data_frame_train.astype({'Gender':'object','Decision_skill_possess':'object'})

In [26]:
data_frame_train.dtypes

Employee_ID                   object
Gender                        object
Age                          float64
Education_Level               object
Relationship_Status           object
Hometown                      object
Unit                          object
Decision_skill_possess        object
Time_of_service              float64
Time_since_promotion           int64
growth_rate                    int64
Travel_Rate                    int64
Post_Level                     int64
Pay_Scale                    float64
Compensation_and_Benefits     object
Work_Life_balance            float64
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
Attrition_rate               float64
dtype: object

In [27]:
exceptions=[key for key,value in dict(data_frame_train.isnull().sum()).items() if value>0]

In [28]:
print(exceptions)

['Time_of_service', 'Pay_Scale', 'Work_Life_balance', 'VAR2', 'VAR4']

In [29]:
exceptions

['Time_of_service', 'Pay_Scale', 'Work_Life_balance', 'VAR2', 'VAR4']

In [30]:
data_frame_train["Post_Level"].value_counts()

3    2435
2    1786
4    1046
1    1035
5     698
Name: Post_Level, dtype: int64

In [31]:
data_frame_train["Relationship_Status"].value_counts()

Married    4520
Single     2480
Name: Relationship_Status, dtype: int64

In [32]:
data_frame_train["Relationship_Status"]=data_frame_train["Relationship_Status"].replace({'Married':0,'Single':1})

In [33]:
data_frame_train["Relationship_Status"].value_counts()

0    4520
1    2480
Name: Relationship_Status, dtype: int64

In [34]:
data_frame_train=data_frame_train.astype({'Relationship_Status':'object','Post_Level':'object'})

In [35]:
data_frame_train.dtypes

Employee_ID                   object
Gender                        object
Age                          float64
Education_Level               object
Relationship_Status           object
Hometown                      object
Unit                          object
Decision_skill_possess        object
Time_of_service              float64
Time_since_promotion           int64
growth_rate                    int64
Travel_Rate                    int64
Post_Level                    object
Pay_Scale                    float64
Compensation_and_Benefits     object
Work_Life_balance            float64
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
Attrition_rate               float64
dtype: object

In [36]:
exceptions

['Time_of_service', 'Pay_Scale', 'Work_Life_balance', 'VAR2', 'VAR4']

In [37]:
data_frame_train["Pay_Scale"].value_counts()

8.0     1392
6.0     1284
5.0     1160
4.0      983
7.0      811
9.0      464
2.0      277
3.0      255
10.0     209
1.0      156
Name: Pay_Scale, dtype: int64

In [38]:
x=data_frame_train[data_frame_train["Pay_Scale"].isnull()==True]
pd.crosstab(x["Age"],x["Decision_skill_possess"])

Decision_skill_possess  0  1  2  3
Age
21.0                    0  0  1  0
23.0                    0  1  0  0
28.0                    0  0  1  0
33.0                    0  0  1  0
35.0                    0  0  1  0
36.0                    0  0  1  0
47.0                    0  0  1  0
52.0                    1  0  0  1

In [39]:
for i in range(0,len(data_frame_train)):
    if pd.isnull(data_frame_train["Pay_Scale"][i]):
        if data_frame_train["Decision_skill_possess"][i]==0:
            data_frame_train["Pay_Scale"][i]=1
        elif data_frame_train["Decision_skill_possess"][i]==1:
            data_frame_train["Pay_Scale"][i]=3
        elif data_frame_train["Decision_skill_possess"][i]==2:
            data_frame_train["Pay_Scale"][i]=8
        elif data_frame_train["Decision_skill_possess"][i]==3:
            data_frame_train["Pay_Scale"][i]=9

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [40]:
data_frame_train["Pay_Scale"].value_counts()

8.0     1398
6.0     1284
5.0     1160
4.0      983
7.0      811
9.0      465
2.0      277
3.0      256
10.0     209
1.0      157
Name: Pay_Scale, dtype: int64

In [41]:
exceptions

['Time_of_service', 'Pay_Scale', 'Work_Life_balance', 'VAR2', 'VAR4']

In [42]:
data_frame_train["Time_of_service"].isnull().sum()

144

In [43]:
for i in range(0,len(data_frame_train)):
    if pd.isnull(data_frame_train["Time_of_service"][i]):
        if data_frame_train["Age"][i]<=25:
            data_frame_train["Time_of_service"][i]=3
        elif data_frame_train["Age"][i]<=35:
            data_frame_train["Time_of_service"][i]=6
        elif data_frame_train["Age"][i]<=45:
            data_frame_train["Time_of_service"][i]=10
        elif data_frame_train["Age"][i]<=55:
            data_frame_train["Time_of_service"][i]=17
        elif data_frame_train["Age"][i]>55:
            data_frame_train["Time_of_service"][i]=22

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [44]:
data_frame_train["Time_of_service"].value_counts()

6.0     580
5.0     503
3.0     489
4.0     439
2.0     297
8.0     276
7.0     258
10.0    256
9.0     205
13.0    195
12.0    191
11.0    178
15.0    178
14.0    175
22.0    175
0.0     162
18.0    154
16.0    150
17.0    148
20.0    142
21.0    137
24.0    129
1.0     127
19.0    122
23.0    118
25.0    117
27.0    114
28.0    113
26.0    109
30.0     98
31.0     86
29.0     82
33.0     71
32.0     65
35.0     60
34.0     55
36.0     51
37.0     51
38.0     48
39.0     29
40.0     24
41.0     18
42.0     17
43.0      8
Name: Time_of_service, dtype: int64

In [45]:
data_frame_train["Time_of_service"].isnull().sum()

0

In [46]:
data_frame_train=data_frame_train.astype({"Pay_Scale":'object'})

In [47]:
data_frame_train.dtypes

Employee_ID                   object
Gender                        object
Age                          float64
Education_Level               object
Relationship_Status           object
Hometown                      object
Unit                          object
Decision_skill_possess        object
Time_of_service              float64
Time_since_promotion           int64
growth_rate                    int64
Travel_Rate                    int64
Post_Level                    object
Pay_Scale                     object
Compensation_and_Benefits     object
Work_Life_balance            float64
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
Attrition_rate               float64
dtype: object

In [48]:
data_frame_train["Time_since_promotion"].value_counts()

1    1819
2    1811
3    1703
4    1505
0     162
Name: Time_since_promotion, dtype: int64

In [49]:
data_frame_train["Work_Life_balance"].value_counts()

1.0    2042
3.0    2023
2.0    1615
4.0    1197
5.0     112
Name: Work_Life_balance, dtype: int64

In [50]:
x=data_frame_train[data_frame_train["Work_Life_balance"].isnull()==True]

In [51]:
pd.crosstab(x["Age"],x["Decision_skill_possess"])

Decision_skill_possess  0  1  2  3
Age
21.0                    0  0  1  0
29.0                    0  0  0  1
30.0                    0  0  0  1
35.0                    0  0  0  1
37.0                    1  1  0  0
42.0                    0  0  1  0
43.0                    1  0  0  0
48.0                    0  0  0  1
52.0                    0  0  0  1
64.0                    0  0  0  1

In [52]:
for i in range(0,len(data_frame_train)):
    if pd.isnull(data_frame_train["Work_Life_balance"][i]):
        if data_frame_train["Decision_skill_possess"][i]<=1 and data_frame_train["Age"][i]<=37:
            data_frame_train["Work_Life_balance"][i]=1.0
        elif data_frame_train["Decision_skill_possess"][i]<=1 and data_frame_train["Age"][i]>37:
            data_frame_train["Work_Life_balance"][i]=2.0
        elif data_frame_train["Decision_skill_possess"][i]>1 and data_frame_train["Age"][i]<37:
            data_frame_train["Work_Life_balance"][i]=3.0
        elif data_frame_train["Decision_skill_possess"][i]>1 and data_frame_train["Age"][i]>37:
            data_frame_train["Work_Life_balance"][i]=5.0

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [53]:
data_frame_train["Work_Life_balance"].value_counts()

1.0    2044
3.0    2027
2.0    1616
4.0    1197
5.0     116
Name: Work_Life_balance, dtype: int64

In [54]:
data_frame_train.dtypes

Employee_ID                   object
Gender                        object
Age                          float64
Education_Level               object
Relationship_Status           object
Hometown                      object
Unit                          object
Decision_skill_possess        object
Time_of_service              float64
Time_since_promotion           int64
growth_rate                    int64
Travel_Rate                    int64
Post_Level                    object
Pay_Scale                     object
Compensation_and_Benefits     object
Work_Life_balance            float64
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
Attrition_rate               float64
dtype: object

In [55]:
exceptions

['Time_of_service', 'Pay_Scale', 'Work_Life_balance', 'VAR2', 'VAR4']

In [56]:
data_frame_train["Travel_Rate"].value_counts(
)

1    3827
0    2224
2     949
Name: Travel_Rate, dtype: int64

In [57]:
data_frame_train=data_frame_train.astype({'Travel_Rate':'object',"Time_since_promotion":'object','Work_Life_balance':'object'})

In [58]:
data_frame_train.dtypes

Employee_ID                   object
Gender                        object
Age                          float64
Education_Level               object
Relationship_Status           object
Hometown                      object
Unit                          object
Decision_skill_possess        object
Time_of_service              float64
Time_since_promotion          object
growth_rate                    int64
Travel_Rate                   object
Post_Level                    object
Pay_Scale                     object
Compensation_and_Benefits     object
Work_Life_balance             object
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
Attrition_rate               float64
dtype: object

In [59]:
data_frame_train["Hometown"].value_counts()

Lebanon        2070
Springfield    1736
Franklin       1523
Washington     1106
Clinton         565
Name: Hometown, dtype: int64

In [60]:
data_frame_train["Hometown"]=data_frame_train["Hometown"].replace({'Lebanon':0,'Springfield':1,'Franklin':2,'Washington':3,'Clinton':4})

In [61]:
data_frame_train["Hometown"].value_counts()

0    2070
1    1736
2    1523
3    1106
4     565
Name: Hometown, dtype: int64

In [62]:
data_frame_train=data_frame_train.astype({'Hometown':'object'})

# Explanation

Column Name,	Description<br>
Employee_ID,	Unique ID of each employee<br>
Age,	Age of each employee<br>
Unit,	Department under which the employee work<br>
Education,	Rating of Qualification of an employee (1-5)<br>
Gender,	Male-0 or Female-1<br>
Decision_skill_possess,	Decision skill that an employee possesses<br>
Post_Level,	Level of the post in an organization (1-5)<br>
Relationship_Status,	Categorical Married or Single <br>
Pay_Scale,	Rate in between 1 to 10<br>
Time_of_service,	Years in the organization<br>
growth_rate,	Growth rate in percentage of an employee<br>
Time_since_promotion,	Time in years since the last promotion<br>
Work_Life_balance,	Rating for work-life balance given by an employee.<br>
Travel_Rate,	Rating based on travel history(1-3)<br>
Hometown,	Name of the city<br>
Compensation_and_Benefits,	Categorical Variabe<br>
VAR1 - VAR5,	Anominised variables<br>
Attrition_rate(TARGET VARIABLE),	Attrition rate of each employee<br>

In [63]:
data_frame_train["Compensation_and_Benefits"].value_counts()

type2    3945
type3    2382
type4     353
type0     187
type1     133
Name: Compensation_and_Benefits, dtype: int64

In [64]:
data_frame_train["Compensation_and_Benefits"].replace({'type0':0,'type1':1,'type2':2,'type3':3,'type4':4},inplace=True)

In [65]:
data_frame_train["Compensation_and_Benefits"].value_counts()

2    3945
3    2382
4     353
0     187
1     133
Name: Compensation_and_Benefits, dtype: int64

In [66]:
data_frame_train=data_frame_train.astype({'Compensation_and_Benefits':'object'})

In [67]:
data_frame_train["Compensation_and_Benefits"].value_counts()

2    3945
3    2382
4     353
0     187
1     133
Name: Compensation_and_Benefits, dtype: int64

In [68]:
data_frame_train["VAR1"].value_counts()

3    4193
4    1372
2     716
5     368
1     351
Name: VAR1, dtype: int64

In [69]:
data_frame_train["VAR2"].fillna(data_frame_train["VAR2"].mean(),inplace=True)

In [70]:
data_frame_train["VAR2"].value_counts()

 0.751600    2458
-0.104800    1629
-0.961200    1047
-1.817600     816
-0.008126     577
 1.608100     473
Name: VAR2, dtype: int64

In [71]:
data_frame_train["VAR4"].fillna(2,inplace=True)

In [72]:
data_frame_train["Post_Level"].value_counts()

3    2435
2    1786
4    1046
1    1035
5     698
Name: Post_Level, dtype: int64

In [73]:
data_frame_train=data_frame_train.astype({'Post_Level':'object'})

In [74]:
data_frame_train.dtypes

Employee_ID                   object
Gender                        object
Age                          float64
Education_Level               object
Relationship_Status           object
Hometown                      object
Unit                          object
Decision_skill_possess        object
Time_of_service              float64
Time_since_promotion          object
growth_rate                    int64
Travel_Rate                   object
Post_Level                    object
Pay_Scale                     object
Compensation_and_Benefits     object
Work_Life_balance             object
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
Attrition_rate               float64
dtype: object

# Preliminary Data Analysis

In [75]:
x=data_frame_train.drop(columns=["Employee_ID","Attrition_rate"],axis=1)

In [76]:
from sklearn.preprocessing import MinMaxScaler

In [77]:
scaler=MinMaxScaler()
y=scaler.fit_transform(x)
x=pd.DataFrame(y,columns=x.columns)
x.dtypes

C:\Users\AVM\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

Gender                       float64
Age                          float64
Education_Level              float64
Relationship_Status          float64
Hometown                     float64
Unit                         float64
Decision_skill_possess       float64
Time_of_service              float64
Time_since_promotion         float64
growth_rate                  float64
Travel_Rate                  float64
Post_Level                   float64
Pay_Scale                    float64
Compensation_and_Benefits    float64
Work_Life_balance            float64
VAR1                         float64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                         float64
VAR6                         float64
VAR7                         float64
dtype: object

In [78]:
y=data_frame_train["Attrition_rate"]

In [79]:
from sklearn.model_selection import train_test_split

In [80]:
train_x,test_x,train_y,test_y=train_test_split(x,y,random_state=42)

In [81]:
train_x.head()

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
2302,1.0,0.695652,0.75,1.0,1.00,0.000000,0.333333,0.465116,0.25,0.222222,...,0.777778,0.75,0.00,0.75,0.499985,0.500000,0.5,0.00,0.50,0.75
1468,0.0,0.304348,1.00,0.0,0.25,0.545455,0.000000,0.209302,1.00,0.648148,...,0.777778,0.50,0.00,0.50,0.749978,0.500000,0.5,0.50,1.00,1.00
5144,0.0,0.826087,0.25,1.0,0.50,0.000000,1.000000,0.651163,0.50,0.148148,...,0.555556,0.50,0.50,0.50,0.000000,0.500000,0.5,0.25,0.50,0.50
2963,0.0,0.130435,1.00,1.0,0.50,0.636364,0.333333,0.139535,0.25,0.111111,...,1.000000,0.50,0.25,0.50,0.249993,0.500000,1.0,0.50,0.75,0.25
6131,1.0,0.086957,0.75,1.0,0.50,0.000000,0.666667,0.093023,0.75,0.981481,...,0.777778,0.75,0.50,0.50,0.528206,0.749989,0.5,0.50,0.75,0.75

In [82]:
test_x.head()

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
6500,0.0,0.347826,0.00,0.0,0.00,1.000000,0.000000,0.279070,1.00,0.648148,...,0.333333,0.5,0.75,0.50,0.000000,1.000000,0.5,0.75,0.75,0.25
2944,1.0,0.543478,0.75,0.0,0.50,0.181818,1.000000,0.488372,1.00,0.500000,...,0.666667,0.5,0.50,0.50,0.000000,0.749989,0.5,0.50,0.25,0.75
2024,1.0,0.347826,0.75,0.0,0.50,0.272727,0.666667,0.302326,0.25,0.685185,...,0.555556,0.5,0.50,0.75,0.528206,0.500000,0.5,0.50,0.00,0.50
263,1.0,0.195652,0.75,0.0,0.25,0.181818,0.000000,0.116279,0.25,0.574074,...,0.777778,0.5,0.00,0.25,0.499985,0.500000,0.5,0.25,0.50,0.25
4350,1.0,0.086957,0.75,0.0,0.50,0.090909,1.000000,0.093023,0.50,0.944444,...,0.555556,0.5,0.50,0.50,0.749978,0.749989,0.5,1.00,0.50,0.50

# Models

<h3>KNN</h3>

In [83]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [84]:
model=KNeighborsRegressor()
model.fit(train_x,train_y)
pred=model.predict(test_x)

In [85]:
score=mean_squared_error(pred,test_y)

In [86]:
def get_k_val():
    errors=[]
    for i in range(5,31):
        model=KNeighborsRegressor(n_neighbors=i)
        model.fit(train_x,train_y)
        pred=model.predict(test_x)
        error=mean_squared_error(pred,test_y)
        errors.append(error)
    return errors

In [87]:
errors=get_k_val()

In [88]:
#at 14 neighbors we achieve a high score
model=KNeighborsRegressor(n_neighbors=14)
model.fit(train_x,train_y)
pred_knn=model.predict(test_x)
error=mean_squared_error(pred,test_y)
print((1-error)*100)

95.90105066594286

In [89]:
#train_dataset Score
print((1-mean_squared_error(model.predict(train_x),train_y))*100)

96.86057814460739

In [90]:
data_frame_test=pd.read_csv("Test.csv")

In [91]:
data_frame_test.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,F,32.0,5,Single,Springfield,R&D,Conceptual,7.0,4,...,4.0,type2,1.0,3,-0.9612,-0.4537,2.0,1,8,4
1,EID_9658,M,65.0,2,Single,Lebanon,IT,Directive,41.0,2,...,1.0,type2,1.0,4,-0.9612,0.7075,1.0,2,8,2
2,EID_22203,M,52.0,3,Married,Springfield,Sales,Directive,21.0,3,...,8.0,type3,1.0,4,-0.1048,0.7075,2.0,1,9,3
3,EID_7652,M,50.0,5,Single,Washington,Marketing,Analytical,11.0,4,...,2.0,type0,4.0,3,-0.1048,0.7075,2.0,2,8,3
4,EID_6516,F,44.0,3,Married,Franklin,R&D,Conceptual,12.0,4,...,2.0,type2,4.0,4,1.6081,0.7075,2.0,2,7,4

In [92]:
data_frame_test.shape

(3000, 23)

In [93]:
data_frame_test.dtypes

Employee_ID                   object
Gender                        object
Age                          float64
Education_Level                int64
Relationship_Status           object
Hometown                      object
Unit                          object
Decision_skill_possess        object
Time_of_service              float64
Time_since_promotion           int64
growth_rate                    int64
Travel_Rate                    int64
Post_Level                     int64
Pay_Scale                    float64
Compensation_and_Benefits     object
Work_Life_balance            float64
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
dtype: object

In [94]:
data_frame_test.isnull().sum()

Employee_ID                    0
Gender                         0
Age                          161
Education_Level                0
Relationship_Status            0
Hometown                       0
Unit                           0
Decision_skill_possess         0
Time_of_service               52
Time_since_promotion           0
growth_rate                    0
Travel_Rate                    0
Post_Level                     0
Pay_Scale                      3
Compensation_and_Benefits      0
Work_Life_balance              5
VAR1                           0
VAR2                         217
VAR3                           0
VAR4                         298
VAR5                           0
VAR6                           0
VAR7                           0
dtype: int64

In [95]:
data_frame_test["Age"].fillna(39,inplace=True)

In [96]:
for i in range(0,len(data_frame_test)):
    if pd.isnull(data_frame_test["Time_of_service"][i]):
        if data_frame_test["Age"][i]<=25:
            data_frame_test["Time_of_service"][i]=3
        elif data_frame_test["Age"][i]<=35:
            data_frame_test["Time_of_service"][i]=6
        elif data_frame_test["Age"][i]<=45:
            data_frame_test["Time_of_service"][i]=10
        elif data_frame_test["Age"][i]<=55:
            data_frame_test["Time_of_service"][i]=17
        elif data_frame_test["Age"][i]>55:
            data_frame_test["Time_of_service"][i]=22

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [97]:
data_frame_test["Time_of_service"].value_counts()

3.0     226
6.0     222
4.0     214
5.0     197
10.0    120
7.0     118
2.0     118
8.0     109
12.0     99
16.0     81
11.0     80
13.0     80
9.0      75
21.0     71
14.0     69
20.0     67
18.0     66
17.0     65
23.0     64
15.0     64
19.0     61
0.0      60
26.0     56
22.0     55
1.0      54
30.0     49
25.0     48
27.0     45
28.0     43
32.0     41
24.0     40
29.0     40
34.0     38
31.0     32
33.0     31
36.0     28
37.0     19
35.0     19
38.0     10
40.0      8
39.0      7
41.0      6
42.0      4
43.0      1
Name: Time_of_service, dtype: int64

In [98]:
data_frame_test["VAR2"].value_counts()

 0.7516    1124
-0.1048     659
-0.9612     422
-1.8176     357
 1.6081     221
Name: VAR2, dtype: int64

In [99]:
data_frame_test["VAR2"].fillna(data_frame_test["VAR2"].mean(),inplace=True)

In [100]:
data_frame_test["VAR4"].value_counts()

2.0    1878
1.0     537
3.0     287
Name: VAR4, dtype: int64

In [101]:
data_frame_test["VAR4"].fillna(2.0,inplace=True)

In [102]:
data_frame_test["Gender"].value_counts()

F    1728
M    1272
Name: Gender, dtype: int64

In [103]:
data_frame_test["Gender"]=data_frame_test["Gender"].replace({'M':0,'F':1})

In [104]:
data_frame_test["Unit"].value_counts()

IT                           569
Logistics                    475
Sales                        446
R&D                          311
Operarions                   302
Purchasing                   210
Accounting and Finance       183
Human Resource Management    169
Marketing                    107
Quality                       97
Production                    81
Security                      50
Name: Unit, dtype: int64

In [105]:
data_frame_test["Unit"]=data_frame_test["Unit"].replace({'IT':0, 'Logistics':1, 'Sales':2, 'Operarions':3, 'R&D':4,'Purchasing':5,
 'Accounting and Finance':6,'Human Resource Management':7,'Marketing':8,
 'Production':9, 'Quality':10, 'Security':11}
)

In [106]:
data_frame_test["Education_Level"].value_counts()

3    1185
4     942
5     298
2     291
1     284
Name: Education_Level, dtype: int64

In [107]:
data_frame_test["Relationship_Status"].value_counts()

Married    1941
Single     1059
Name: Relationship_Status, dtype: int64

In [108]:
data_frame_test["Relationship_Status"]=data_frame_test["Relationship_Status"].replace({'Married':0,'Single':1})

In [109]:
data_frame_test["Hometown"].value_counts()

Lebanon        883
Springfield    748
Franklin       658
Washington     464
Clinton        247
Name: Hometown, dtype: int64

In [110]:
data_frame_test["Hometown"]=data_frame_test["Hometown"].replace({'Lebanon':0,'Springfield':1,'Franklin':2,'Washington':3,'Clinton':4})

In [111]:
data_frame_test["Decision_skill_possess"].value_counts()

Behavioral    799
Analytical    746
Directive     735
Conceptual    720
Name: Decision_skill_possess, dtype: int64

In [112]:
data_frame_test["Decision_skill_possess"]=data_frame_test["Decision_skill_possess"].replace({'Conceptual':0,'Analytical':1,'Directive':2,'Behavioral':3})

In [113]:
data_frame_test["Time_of_service"].value_counts()

3.0     226
6.0     222
4.0     214
5.0     197
10.0    120
7.0     118
2.0     118
8.0     109
12.0     99
16.0     81
11.0     80
13.0     80
9.0      75
21.0     71
14.0     69
20.0     67
18.0     66
17.0     65
23.0     64
15.0     64
19.0     61
0.0      60
26.0     56
22.0     55
1.0      54
30.0     49
25.0     48
27.0     45
28.0     43
32.0     41
24.0     40
29.0     40
34.0     38
31.0     32
33.0     31
36.0     28
37.0     19
35.0     19
38.0     10
40.0      8
39.0      7
41.0      6
42.0      4
43.0      1
Name: Time_of_service, dtype: int64

In [114]:
data_frame_test.dtypes

Employee_ID                   object
Gender                         int64
Age                          float64
Education_Level                int64
Relationship_Status            int64
Hometown                       int64
Unit                           int64
Decision_skill_possess         int64
Time_of_service              float64
Time_since_promotion           int64
growth_rate                    int64
Travel_Rate                    int64
Post_Level                     int64
Pay_Scale                    float64
Compensation_and_Benefits     object
Work_Life_balance            float64
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
dtype: object

In [115]:
data_frame_test["Time_since_promotion"].value_counts()

2    770
1    755
3    731
4    682
0     62
Name: Time_since_promotion, dtype: int64

In [116]:
data_frame_test["Travel_Rate"].value_counts()

1    1672
0     923
2     405
Name: Travel_Rate, dtype: int64

In [117]:
for i in range(0,len(data_frame_test)):
    if pd.isnull(data_frame_test["Pay_Scale"][i]):
        if data_frame_test["Decision_skill_possess"][i]==0:
            data_frame_test["Pay_Scale"][i]=1
        elif data_frame_test["Decision_skill_possess"][i]==1:
            data_frame_test["Pay_Scale"][i]=3
        elif data_frame_test["Decision_skill_possess"][i]==2:
            data_frame_test["Pay_Scale"][i]=8
        elif data_frame_test["Decision_skill_possess"][i]==3:
            data_frame_test["Pay_Scale"][i]=9

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [118]:
for i in range(0,len(data_frame_test)):
    if pd.isnull(data_frame_test["Work_Life_balance"][i]):
        if data_frame_test["Decision_skill_possess"][i]<=1 and data_frame_test["Age"][i]<=37:
            data_frame_test["Work_Life_balance"][i]=1.0
        elif data_frame_test["Decision_skill_possess"][i]<=1 and data_frame_test["Age"][i]>37:
            data_frame_test["Work_Life_balance"][i]=2.0
        elif data_frame_test["Decision_skill_possess"][i]>1 and data_frame_test["Age"][i]<37:
            data_frame_test["Work_Life_balance"][i]=3.0
        elif data_frame_test["Decision_skill_possess"][i]>1 and data_frame_test["Age"][i]>37:
            data_frame_test["Work_Life_balance"][i]=5.0

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\AVM\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [119]:
data_frame_test["Post_Level"].value_counts()

3    1034
2     728
1     481
4     440
5     317
Name: Post_Level, dtype: int64

In [120]:
data_frame_test["Pay_Scale"].value_counts()

8.0     574
6.0     536
5.0     480
4.0     422
7.0     352
9.0     239
3.0     111
2.0     106
10.0    105
1.0      75
Name: Pay_Scale, dtype: int64

In [121]:
data_frame_test["Compensation_and_Benefits"].value_counts()

type2    1741
type3     964
type4     137
type0      93
type1      65
Name: Compensation_and_Benefits, dtype: int64

In [122]:
data_frame_test["Compensation_and_Benefits"]=data_frame_test["Compensation_and_Benefits"].replace({'type0':0,'type1':1,'type2':2,'type3':3,'type4':4})

In [123]:
data_frame_test["Work_Life_balance"].value_counts()

1.0    911
3.0    835
2.0    674
4.0    522
5.0     58
Name: Work_Life_balance, dtype: int64

In [124]:
data_frame_test.dtypes

Employee_ID                   object
Gender                         int64
Age                          float64
Education_Level                int64
Relationship_Status            int64
Hometown                       int64
Unit                           int64
Decision_skill_possess         int64
Time_of_service              float64
Time_since_promotion           int64
growth_rate                    int64
Travel_Rate                    int64
Post_Level                     int64
Pay_Scale                    float64
Compensation_and_Benefits      int64
Work_Life_balance            float64
VAR1                           int64
VAR2                         float64
VAR3                         float64
VAR4                         float64
VAR5                           int64
VAR6                           int64
VAR7                           int64
dtype: object

In [125]:
data_frame_test=data_frame_test.astype({'Gender':'object','Education_Level':'object','Relationship_Status':'object'})

In [126]:
data_frame_test=data_frame_test.astype({'Hometown':'object','Unit':'object','Decision_skill_possess':'object'})

In [127]:
data_frame_test=data_frame_test.astype({'Time_since_promotion':'object','Travel_Rate':'object','Post_Level':'object'})

In [128]:
data_frame_test=data_frame_test.astype({'Pay_Scale':'object','Compensation_and_Benefits':'object','Work_Life_balance':'object'})

In [129]:
data_frame_test.head()

,Employee_ID,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,EID_22713,1,32.0,5,1,1,4,0,7.0,4,...,4,2,1,3,-0.9612,-0.4537,2.0,1,8,4
1,EID_9658,0,65.0,2,1,0,0,2,41.0,2,...,1,2,1,4,-0.9612,0.7075,1.0,2,8,2
2,EID_22203,0,52.0,3,0,1,2,2,21.0,3,...,8,3,1,4,-0.1048,0.7075,2.0,1,9,3
3,EID_7652,0,50.0,5,1,3,8,1,11.0,4,...,2,0,4,3,-0.1048,0.7075,2.0,2,8,3
4,EID_6516,1,44.0,3,0,2,4,0,12.0,4,...,2,2,4,4,1.6081,0.7075,2.0,2,7,4

In [130]:
a=data_frame_test.drop(["Employee_ID"],axis=1)

In [131]:
scaler=MinMaxScaler()
y=scaler.fit_transform(a)
a=pd.DataFrame(y,columns=a.columns)

C:\Users\AVM\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [132]:
a.head()

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
0,1.0,0.282609,1.00,1.0,0.25,0.363636,0.000000,0.162791,1.00,0.185185,...,0.333333,0.50,0.00,0.50,0.249993,0.500000,0.5,0.00,0.75,0.75
1,0.0,1.000000,0.25,1.0,0.00,0.000000,0.666667,0.953488,0.50,0.962963,...,0.000000,0.50,0.00,0.75,0.249993,0.749989,0.0,0.25,0.75,0.25
2,0.0,0.717391,0.50,0.0,0.25,0.181818,0.666667,0.488372,0.75,0.092593,...,0.777778,0.75,0.00,0.75,0.499985,0.749989,0.5,0.00,1.00,0.50
3,0.0,0.673913,1.00,1.0,0.75,0.727273,0.333333,0.255814,1.00,0.148148,...,0.111111,0.00,0.75,0.50,0.499985,0.749989,0.5,0.25,0.75,0.50
4,1.0,0.543478,0.50,0.0,0.50,0.363636,0.000000,0.279070,1.00,0.500000,...,0.111111,0.50,0.75,0.75,1.000000,0.749989,0.5,0.25,0.50,0.75

In [133]:
test_x.head()

,Gender,Age,Education_Level,Relationship_Status,Hometown,Unit,Decision_skill_possess,Time_of_service,Time_since_promotion,growth_rate,...,Pay_Scale,Compensation_and_Benefits,Work_Life_balance,VAR1,VAR2,VAR3,VAR4,VAR5,VAR6,VAR7
6500,0.0,0.347826,0.00,0.0,0.00,1.000000,0.000000,0.279070,1.00,0.648148,...,0.333333,0.5,0.75,0.50,0.000000,1.000000,0.5,0.75,0.75,0.25
2944,1.0,0.543478,0.75,0.0,0.50,0.181818,1.000000,0.488372,1.00,0.500000,...,0.666667,0.5,0.50,0.50,0.000000,0.749989,0.5,0.50,0.25,0.75
2024,1.0,0.347826,0.75,0.0,0.50,0.272727,0.666667,0.302326,0.25,0.685185,...,0.555556,0.5,0.50,0.75,0.528206,0.500000,0.5,0.50,0.00,0.50
263,1.0,0.195652,0.75,0.0,0.25,0.181818,0.000000,0.116279,0.25,0.574074,...,0.777778,0.5,0.00,0.25,0.499985,0.500000,0.5,0.25,0.50,0.25
4350,1.0,0.086957,0.75,0.0,0.50,0.090909,1.000000,0.093023,0.50,0.944444,...,0.555556,0.5,0.50,0.50,0.749978,0.749989,0.5,1.00,0.50,0.50

In [134]:
model.fit(train_x,train_y)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=None, n_neighbors=14, p=2,
          weights='uniform')

In [135]:
model.predict(test_x)

array([0.24769286, 0.15266429, 0.09733571, ..., 0.2583    , 0.19764286,
       0.22578571])

In [136]:
test_x.columns

Index(['Gender', 'Age', 'Education_Level', 'Relationship_Status', 'Hometown',
       'Unit', 'Decision_skill_possess', 'Time_of_service',
       'Time_since_promotion', 'growth_rate', 'Travel_Rate', 'Post_Level',
       'Pay_Scale', 'Compensation_and_Benefits', 'Work_Life_balance', 'VAR1',
       'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7'],
      dtype='object')

In [137]:
a.columns

Index(['Gender', 'Age', 'Education_Level', 'Relationship_Status', 'Hometown',
       'Unit', 'Decision_skill_possess', 'Time_of_service',
       'Time_since_promotion', 'growth_rate', 'Travel_Rate', 'Post_Level',
       'Pay_Scale', 'Compensation_and_Benefits', 'Work_Life_balance', 'VAR1',
       'VAR2', 'VAR3', 'VAR4', 'VAR5', 'VAR6', 'VAR7'],
      dtype='object')

In [138]:
a.isnull().sum()

Gender                       0
Age                          0
Education_Level              0
Relationship_Status          0
Hometown                     0
Unit                         0
Decision_skill_possess       0
Time_of_service              0
Time_since_promotion         0
growth_rate                  0
Travel_Rate                  0
Post_Level                   0
Pay_Scale                    0
Compensation_and_Benefits    0
Work_Life_balance            0
VAR1                         0
VAR2                         0
VAR3                         0
VAR4                         0
VAR5                         0
VAR6                         0
VAR7                         0
dtype: int64

In [140]:
pred_vals=model.predict(a)

In [149]:
data_frame_test["Attrition_rate"]=pred_vals

In [157]:
pred_data_set=data_frame_test[["Employee_ID","Attrition_rate"]]

In [161]:
pred_data_set.to_csv("My_Submission.csv")